*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
airmapsdk/src/main/assets/airmap.config.json
sample/src/main/assets/airmap.config.json
Preparing\ for\ Jcenter.md
airmapsdk/src/androidTest/assets/
